# Ignore environment
environment/

# Ignore Folder
__pycache__/
testNewModel/

nlp.py
test_model.py
sentence.csv
sentiment_analysis.csv
sentiment_analysis.csv
sentence.csv
test_model.py
sentiment_analysis.csv
sentence.csv
